/*---------------QUESTIONS---------------*/

.questions {
    margin-top: 5%;
    height: 110%;
    position: relative;
}
.questions h3 {
    padding: 50px;
}
.btn-group {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 130px;
}
.btn-group h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
    padding: 50px 0;
    text-align: center;
    color: #a78e6e;
    letter-spacing: 0.07em;
}
.btn-group button {
    font-family: 'Playfair Display', serif;
    float: left;
    display: block;
    width: 100%;
    height: 70px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-style: italic;
    text-align: center;
}
.hide {
    display: none;
}
.main-in {
    text-align: center;
}
.delay-01 {
    animation-delay: 0.1s
}
.delay-02 {
    animation-delay: 0.2s
}
.delay-03 {
    animation-delay: 0.3s
}
.delay-04 {
    animation-delay: 0.4s
}
.delay-05 {
    animation-delay: 0.6s
}
.delay-06 {
    animation-delay: 1s
}
.main-in h3 {
    color: #be3636;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
    padding-top: 30px;
}
.main-in h5,
.main-in h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: italic;
}
.main-in h5 span,
.main-in h4 span {
    color: #be3636;
    font-weight: 800;
    font-style: normal;
}
.main-in p {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9em
}

/*---------------QUESTIONS---------------*/

.top-bar-menu {
    height: 50px;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: #be3636 solid 1px;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
}
.top-bar-menu ul {
    text-align: right;
}
.top-bar-menu ul li {
    display: inline;
    list-style: none;
    padding: 0 10px;
    font-size: 1em;
    color: #8d7455
}
.active-list {
    border-bottom: 2px solid #be3636
}
.cover {
    margin-top: 10%;
}
.names {
    font-style: italic;
    text-align: center;
    padding: 20px 0;
}
.names span p {
    font-size: 1.15em;
    font-weight: 800;
}
.didascalia {
    font-size: 0.8em;
    padding-top: 10px;
}
.left {
    float: left;
    padding: 10px 20px 10px 0;
    width: 300px;
}
.title-cover h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    padding: 20px 0 50px 0
}
.firstcharacter {
    float: left;
    color: #be3636;
    font-size: 120px;
    line-height: 80px;
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 3px;
    padding-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700
}
#india,
#ecuador,
#brasil {
    padding-top: 58px;
}
footer {
    padding: 50px 0;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    margin-top: 100px;
}
footer p {
    font-size: 0.9em
}
